{% extends "base.html" %}

{% block content %}
<center>Настройки типов портов</center>
<center>
    <table border="1">
        <tr>
            <td>ТИП</td>
        </tr>
        {% for tp in gpio_TP %}
        <tr>
          <form method="POST" action="./update_gpio_types">
            <td><input type="text" value="{{ tp.gpioType }}" name="updatedtp"></td>
            <td><input type="submit" value="Update"></td>
              <td><input type="submit" value="Delete"></td>
          </form>
        </tr>
        {% endfor %}
    </table>
</center>
<hr>
<center>
    Добавить тип порта
</center>
<center>
    <form action="" method="post"  novalidate>
    <table>
        <tr>
            <td>
                {{ form.value.label }}
            </td>
            <td>
                {{ form.value }}
            </td>
            <td>{{ form.submit }} </td>
        </tr>
    </table>
    </form>
</center>
{% endblock %}